<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>

<ui:composition template="/WEB-INF/templates/template.xhtml">
    <ui:define name="pageTitle">Home</ui:define>
    <ui:define name="pageContent">


        <b:row>

                <b:column col-sm="6" col-md="3">
                    <b:thumbnail>
                        <img style="height: 20em;width: 90%;" src="resources/images/pcScreen.jpg" alt="Generic placeholder thumbnail"/>
                        <f:facet name="caption">
                            <h3>Screens</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p>
                                <f:param name="type" value="Screen"></f:param>
                                <b:button look="primary" value="Screen" href="products/Screen"  />

                            </p>
                        </f:facet>
                    </b:thumbnail>
                </b:column>
            <b:column col-sm="6" col-md="3">
                <b:thumbnail>
                    <img style="height: 20em;width: 90%;" src="resources/images/keyboard%60-1000px-v1-0002.jpg" alt="Generic placeholder thumbnail"/>
                    <f:facet name="caption">
                        <h3>Keyboard</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <f:param name="type" value="KeyBoard"></f:param>
                            <b:button look="primary" value="KeyBoard" href="products/KeyBoard"  />

                        </p>
                    </f:facet>
                </b:thumbnail>
            </b:column>
            <b:column col-sm="6" col-md="3">
            <b:thumbnail>
                <img style="height: 20em;width: 90%;" src="resources/images/mouse.jpg" alt="Generic placeholder thumbnail"/>
                <f:facet name="caption">
                    <h3>Mouse</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p>
                        <f:param name="type" value="Mouse"></f:param>
                        <b:button look="primary" value="Mouse" href="products/Mouse"  />

                    </p>
                </f:facet>
            </b:thumbnail>
        </b:column>
            <b:column col-sm="6" col-md="3">
                <b:thumbnail>
                    <img style="height: 20em;width: 90%;" src="resources/images/hard-drive-3094771_1920.jpg" alt="Generic placeholder thumbnail"/>
                    <f:facet name="caption">
                        <h3>Harddisk</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <f:param name="type" value="HardDisk"></f:param>
                            <b:button look="primary" value="hardDisks" href="products/HardDisk" />

                        </p>
                    </f:facet>
                </b:thumbnail>
            </b:column>


        </b:row>
    </ui:define>
</ui:composition>
</html>