<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/WEB-INF/templates/template.xhtml">
    <ui:define name="pageTitle">Login Page</ui:define>
    <ui:define name="pageContent">
        <b:row>
            <b:column span="6" offset="3">
            <b:panel title="Login" look="primary">
                <b:form>
                    <b:row>
                        <b:column span="8" offset="2">

                            <b:inputText id="firstname" type="text" placeholder="Username" required="true">
                            <f:facet name="prepend">
                                <b:icon name="user" />
                            </f:facet>
                            </b:inputText>
                        </b:column>
                        <b:column span="8" offset="2">

                            <b:inputText styleClass="form-control" type="password" placeholder="Password" required="true">
                            <f:facet name="prepend">
                                <b:iconAwesome name="key" />
                            </f:facet>

                            </b:inputText>
                        </b:column>
                        <b:column span="8" offset="2">
                            <!--<b:commandButton span="5" action="confirm.xbtml"  value="Login"
                                             styleClass="btn-success"/>-->
                            <b:commandButton span="5"  action="home-hardware.xhtml" value="Login"
                                             styleClass="btn-success"/>
                            <b:commandButton span="5" action="register.xhtml" value="register"
                                             styleClass="btn-primary"/>

                        </b:column>
                    </b:row>
                </b:form>
            </b:panel>
        </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>