<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>

<ui:composition template="/WEB-INF/templates/template.xhtml">
    <ui:define name="pageTitle">Register user</ui:define>
    <ui:define name="pageContent">


        <f:metadata>
            <f:viewParam name="type" value="#{productController.type}">
            </f:viewParam>
            <f:viewParam name="id" value="#{productController.id}">
            </f:viewParam>
        </f:metadata>
        <b:row>
            <h:column span="8" offset="2">
                <b:panel>
                    <f:facet name="heading">
                        <b:iconAwesome value="gamepad" style="padding-right:20px"/>
                        <h:outputText value="Gaming"/>
                    </f:facet>
                    <h:form >
                        <h:dataTable id="tble" styleClass="table table-dark"
                                     value="#{productController.getProduct(productController.type,productController.id)}"
                                     var="keyb">
                            <h:column >
                                <h:outputText value="Product name : "/>
                                <h:outputText styleClass="form-control" value="#{keyb.name}"/>
                                <h:inputText binding="#{P_name}" styleClass="form-control" value="#{keyb.name}"
                                             rendered="#{updateController.currentState()}"/>
                            </h:column>
                            <h:column >
                                <h:outputText value=" Price: "/>
                                <h:outputText styleClass="form-control" value="#{keyb.price} €"/>
                                <b:inputText  binding="#{P_price}" styleClass="form-control" converter="javax.faces.Double" value="#{keyb.price}"
                                             rendered="#{updateController.currentState()}"/>
                            </h:column>

                            <h:column >
                                <h:outputText value="Manufacturer: "/>
                                <h:outputText styleClass="form-control" value="#{keyb.manufactory}"/>
                                <b:inputText  binding="#{P_manufactory}" styleClass="form-control" value="#{keyb.manufactory}"
                                             rendered="#{updateController.currentState()}"/>
                            </h:column>

                            <h:column >
                                <h:outputText value="ReleaseDate: "/>
                                <!--als ik converter="javax.faces.DateTime"  toevoeg bij de output, krijgen we een error bij knop"update" omdat de inpuntText veld een text verwacht maar dit is een datum -->
                                <h:outputText styleClass="form-control" value="#{keyb.releaseDate}" />
                                <!--als ik converter="javax.faces.DateTime"  toevoeg bij de input, dan gaat de input deel niet open, en wordt het niet weergegeven -->
                                <b:inputText  binding="#{P_releaseDate}" styleClass="form-control" value="#{keyb.releaseDate}"
                                              rendered="#{updateController.currentState()}" />
                            </h:column>
                            <h:column >
                                <h:outputText value="Waranty : "/>
                                <h:outputText styleClass="form-control" value="#{keyb.warranty} year(s)"/>
                                <b:inputText  binding="#{P_warranty}" styleClass="form-control" value="#{keyb.warranty}"
                                             rendered="#{updateController.currentState()}"/>
                            </h:column>
                            <h:column >
                                <h:outputText value="Wireless : "/>
                                <h:outputText styleClass="form-control" value="#{keyb.wireless} "/>
                                <b:inputText   binding="#{P_wireless}" converter="javax.faces.Integer" styleClass="form-control" value="#{keyb.wireless}"
                                             rendered="#{updateController.currentState()}"/>
                            </h:column>
                            <!--  <b:column span="6">
                                  <h:outputText value="RPM : "/>
                                  <b:inputText styleClass="form-control" value="#{registrationController.accountNumber}" disabled="true"/>
                              </b:column>

                              <b:column span="6">
                                  <h:outputText value="ScreenSize : "/>
                                  <b:inputText styleClass="form-control" value="#{registrationController.accountNumber}" disabled="true"/>
                              </b:column>-->
                        </h:dataTable>
                        <h:column span="12">

                            <!--adds product to shopbasket-->
                            <b:button span="4" value="BUY" icon="shopping-cart" look="success" size="lg"
                                      action="confirm.xhtml"/>
                            <!--shows next product in line-->
                            <b:commandButton span="4"  value="Next" look="warning" size="lg" action="#{ProductController.update(P_name,P_price,P_manufactory,P_releaseDate,P_warranty,p_wireless)}"/>
                            <!--type="reset"-->
                            <b:commandButton span="4" value="Update" icon="pencil" size="lg"
                                             styleClass="btn-danger" id="updateButton">
                                <f:ajax event="click"
                                        render="tble"
                                        listener="#{updateController.setCurrentState}"
                                />
                            </b:commandButton>
                        </h:column>
                    </h:form>
                </b:panel>
            </h:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>