<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/WEB-INF/templates/templateNoNaf.xhtml">
    <ui:define name="pageTitle">Register user</ui:define>
    <ui:define name="pageContent">
        <b:row>
            <b:column span="6" offset="3">
                <b:panel title="Login" look="primary">
                    <b:form>
                        <b:row>
                            <b:column span="8" offset="2">

                                <b:inputText id="firstname" type="text" placeholder="Firstname"  required="true">
                                <f:validateLength minimum="2" maximum="50"/>
                                </b:inputText>
                                <h:message for="firstname"/>
                            </b:column>
                            <b:column span="8" offset="2">
                                <b:inputText styleClass="form-control" id="lasttname"  type="text" placeholder="Last name"  required="true">
                                    <f:validateLength minimum="2" maximum="50"/>
                                </b:inputText>
                                <h:message for="lasttname"/>
                            </b:column>
                            <b:column span="8" offset="2">
                                <b:inputText styleClass="form-control" id="username"  type="text" placeholder="Username"  required="true">
                                    <f:validateLength minimum="5" maximum="50"/>
                                </b:inputText>
                                <h:message for="username"/>
                            </b:column>
                            <b:column span="8" offset="2">
                                <b:commandButton span="5" action="home-hardware.xhtml" value="Register"
                                                 styleClass="btn-success"/>
                                <b:commandButton span="5" action="index.xhtml" value="Cancel"
                                                 styleClass="btn-danger"/>
                            </b:column>
                        </b:row>
                    </b:form>
                </b:panel>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>